<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <h1><b>Hello {{firstName}} 👋,</b></h1>
    <p>
      Verify your email by clicking the button below,<br />
      Then log in using your email and password you set
    </p>
    <a
      href="{{otp}}"
      style="
        display: inline-block;
        padding: 10px 20px;
        background-color: #007bff;
        color: #ffffff;
        text-decoration: none;
        border-radius: 5px;
      "
      >Verify Your Email</a
    >
    <p>
      This link will remain valid for 1 day. If you have not verified your email
      address by then, you will have to create another account.
    </p>
  </body>
</html>
